.sort {
  //float: right;
}

.column {
    display: inline-block;
    font-size: 14px;
    border: 1px solid lightgrey;
    border-radius: 2%;
    margin: 0.5em;

}
.column img {
    width: 17em;
    height: 15em;
}
.column h4 {
    margin: 0;
}
.column a {
    text-decoration: none;
    color: black;
}
.column .username {
    float: left;
    margin: 0;
    color: darkgrey;
}
.column .price {
    float: right;
    margin: 0;
    color: green;
}

.shop-suggestion {
  display: inline-block;
}

.footer {
  margin: 2em;
}

.shop-suggestion a {
  padding: 1em;
}
.pagination a {
  padding: 1em;
}
