
.results {
  margin-top: 2em;
}

.sort {
  float: right;
}

.listings {
  width: 100%;
}

.column {
    display: inline-block;
    font-size: 14px;
    border: 1px solid lightgrey;
    border-radius: 2%;
    margin: 1em;
}
.column img {
    width: 15em;
    height: 13em;
}
.column h4 {
    margin: 0;
}
.column a {
    text-decoration: none;
    color: black;
}
.column .username {
    float: left;
    margin: 0;
    color: darkgrey;
}
.column .price {
    float: right;
    margin: 0;
    color: green;
}

.shop-suggestion {
  display: inline-block;
}

.footer {
  margin: 2em;
}

.shop-suggestion a {
  padding: 1em;
}
.pagination a {
  padding: 1em;
}
