body {
  background-color: #F8F8F5;
}

.header-row {
  margin-top: 2.5em;

  .shop-icon {
    display: inline-block;

    .img-box {
      display: inline-block;
      width: 75px;
      height: 75px;

      img {
        height: auto;
        width: auto;
      }
    }

    .shop-name-fav {
    display: inline-block;
    padding-left: 1ex;

      h4 {
        margin: 0;
        line-height: 2ex;
        a {
          text-decoration: none;
          font-family: serif;
          font-size: 2.75ex;
          color: black;
        }
      }
    }
  }

  .image-list {
    text-align: right;

    .img-box {
      display: inline-block;
      width: 75px;
      height: 75px;
      margin: 0 1ex;
      text-align: center;
      border: .5ex solid white;
      vertical-align: top;

      img {
        width: auto;
        height: auto;
      }


      a {
        display: block;
        text-decoration: none;
        color: black;
        box-sizing: border-box;
        height: 75px;
        background-color: white;


        .item-count {
          display: block;
          font-size: 2.25ex;
          color: #0192B5;
          padding-top: 1ex;
        }

        span {
          font-size: 1.5ex;
        }
      }

      a:hover {
        background-color: #CCE9F0;
      }
    }
  }
}

.favorite-shop {
  background-color: #F0F1F1;
  border: 1px solid #DCD9D5;
  border-radius: 2.5px;
  font-size: 1.5ex;
  font-weight: 400;
  color: #726B67;
  line-height: 3ex;

  span {
    padding-right: 1ex;
  }
}

button:hover {
  background-color: white;
}

.main-body {
  margin-top: 1.5em;
}

.item-detail {
  border: .75ex solid #E4F3D9;
  border-radius: 7.5px;
  background-color: white;
  padding: 0;


  .item-title {
    font-family: serif;
    font-size: 2.25ex;
    font-weight: 600;
  }

  .price-questions {
    @extend .clearfix;
    margin: 1em auto;

    .price {
      float: left;
      line-height: 3ex;
      font-size: 2.5ex;
      font-weight: 600;

      .currency {
        padding-left: 1ex;
        font-size: .5ex;
        color: #0192B9;
      }
    }

    .seller-questions {
      float: right;
      line-height: 3ex;
      border-radius: 2.5px;
      border: 1px solid #CBCBCB;
      font-size: 1.5ex;
      background-color: #F3F3F2;
    }

    .seller-questions:hover {
      background-color: #EEEDED;
    }
  }

  h5 {
    font-weight: 400;
    color: #666666;
    margin-bottom: 0;
    margin-top: 2.5ex;
  }

  select {
    font-size: 1.5ex;
  }

  .overview-heading {
    color: black;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding-left: 2.25ex;
    font-size: 1.5ex;
    font-weight: 400;
    color: #666666;
    margin-bottom: 0;

    a {
      text-decoration: none;
      color: #0192B5;
    }
  }

  .bottom-h5 {
    margin-bottom: 2ex;

    .giftcard-logo {
      padding-right: 1ex;
      margin-bottom: 2.5ex;
    }
  }
}

.add-item {
  border: .75ex solid #E4F3D9;
  border-radius: 7.5px;
  background-color: white;
  width: 100%;
  border-radius: 0;
  margin-top: -1.5ex;
  box-sizing: border-box;
  font-size: 1.75ex;

  .add-to-cart {
    color: white;
    border: 1px solid #6DAD12;
    border-radius: 2.5px;
    background-color: #86BB17;
    width: 107%;
    margin-left: -3.25%;
  }

  .add-to-cart:hover {
    background-color: #6DAD12;
  }
}
