body {
    background-color: #f8f8f5;
}
.header-row {
    margin-top: 2.5em;
    .shop-icon {
        display: inline-block;
        .img-box {
            display: inline-block;
            width: 75px;
            height: 75px;
            img {
                height: auto;
                width: auto;
            }
        }
        .shop-name-fav {
            display: inline-block;
            padding-left: 1ex;
            h4 {
                margin: 0;
                line-height: 2ex;
                a {
                    text-decoration: none;
                    font-family: serif;
                    font-size: 2.75ex;
                    color: black;
                }
            }
        }
    }
    .image-list {
        text-align: right;
        .img-box {
            display: inline-block;
            width: 75px;
            height: 75px;
            margin: 0 1ex;
            text-align: center;
            border: 0.5ex solid white;
            vertical-align: top;
            img {
                width: auto;
                height: auto;
            }
            a {
                display: block;
                text-decoration: none;
                color: black;
                box-sizing: border-box;
                height: 75px;
                background-color: white;
                .item-count {
                    display: block;
                    font-size: 2.25ex;
                    color: #0192b5;
                    padding-top: 1ex;
                }
                span {
                    font-size: 1.5ex;
                }
            }
            a:hover {
                background-color: #cce9f0;
            }
        }
    }
}
.favorite-shop {
    background-color: #f0f1f1;
    border: 1px solid #dcd9d5;
    border-radius: 2.5px;
    font-size: 1.5ex;
    font-weight: 400;
    color: #726b67;
    line-height: 3ex;
    span {
        padding-right: 1ex;
    }
}
button:hover {
    background-color: white;
}

.main-body {
  margin-top: 1.5em;
  background-color: white;
  padding: 1.5em;
  border-radius: 5px;
  border: 1px solid #ECECEC;
}

.item-detail {
  border: .75ex solid #E4F3D9;
  border-radius: 7.5px;
  background-color: white;
  padding: 0;


  .item-title {
    font-family: serif;
    font-size: 2.25ex;
    font-weight: 600;
    color: #333333;
  }

  .price-questions {
    @extend .clearfix;
    margin: 1em auto;

    .price-listing {
      float: left;
      line-height: 3ex;
      font-size: 2.5ex;
      font-weight: 600;

      .currency {
        padding-left: 1ex;
        font-size: .5ex;

        a {
          text-decoration: none;
          color: #0192B9;
        }
      }
    }

    .seller-questions {
      float: right;
      line-height: 3ex;
      border-radius: 2.5px;
      border: 1px solid #CBCBCB;
      font-size: 1.5ex;
      background-color: #F3F3F2;
    }

    .seller-questions:hover {
      background-color: #EEEDED;
    }
  }

  h5 {
    font-weight: 400;
    color: #666666;
    margin-bottom: 0;
    margin-top: 2.5ex;
  }

  select {
    font-size: 1.5ex;
  }

  .overview-heading {
    color: black;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding-left: 2.25ex;
    font-size: 1.5ex;
    font-weight: 400;
    color: #666666;
    margin-bottom: 0;

    a {
      text-decoration: none;
      color: #0192B5;
    }
  }

  .bottom-h5 {
    margin-bottom: 2ex;

    .giftcard-logo {
      padding-right: 1ex;
      margin-bottom: 2.5ex;
    }
  }
}

.add-item {
  border: .75ex solid #E4F3D9;
  border-radius: 7.5px;
  background-color: white;
  width: 100%;
  border-radius: 0;
  margin-top: -1.5ex;
  box-sizing: border-box;
  font-size: 1.75ex;

  .add-to-cart {
    color: white;
    border: 1px solid #6DAD12;
    border-radius: 2.5px;
    background-color: #86BB17;
    width: 105%;
    margin-left: -2.5%;
  }

  .add-to-cart:hover {
    background-color: #6DAD12;
  }
}

.shop-images {
  width: 100%;
  border: 1ex solid lightblue;
  border-radius: 5px;
  margin-top: 2em;
  background-color: white;
  .seller-info{
    text-align: center;
    margin-top: 1em;
    font-family: serif;
    font-size: 2.5ex;

    a {
      text-decoration: none;
      color: black;

      img {
          width: 75px;
          height: 75px;
          margin-bottom: .5em;
      }

      h4 {
        margin: 0;
      }

      p {
          margin-top: 0;
          margin-bottom: .25em;
          color: lightgrey;
          font-size: 1.5ex;
          font-family: sans-serif;
      }
    }
  }
  .column {
    display: inline-block;
    font-size: 10px;
    border: 1px solid lightgrey;
    border-radius: 2%;
    margin: 1ex .75ex 2ex .75ex;
    width: 46.5%;
    box-sizing: border-box;

    a {
      text-decoration: none;
      color: black;

      img {
          width: 100%;
          height: auto;
      }

      h4 {
        margin: 0;
      }
    }
    .price {
      float: left;
      margin: 0;
      color: green;
    }
  }
}
#firstHalf::after {
  content: "\21da";
  background-color: rgba(0, 0, 255, 0.1);
  position: absolute;
  color: white;
  font-size: 39pt;
  top: 52%;
  width:1em;
}
#firstHalf:hover::after {
  background-color: rgba(0, 0, 255, 0.4);
}
#secondHalf::after {
  content: "\21db";
  position: absolute;
  background-color: rgba(0, 0, 255, 0.1);
  color: white;
  font-size: 39pt;
  top: 52%;
  left: 57.6%;
  width:1em;
  text-align: right;
}
#secondHalf:hover::after {
  background-color: rgba(0, 0, 255, 0.4);
}
#buttonsSection {
  margin-top: 3ex;
  padding: 1ex 1ex;
  border: 1ex solid #EFEFEB;
  border-radius: 3px;
}
#share-buttons {
  background-color: #EFEFEB;
  margin-bottom: 3ex;
  float: right;
}
#shop {
  float:right;
  clear: right;
}
#share-buttons img {
width: 2em;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
